@model MstAccount

<form id="frmDetail" asp-antiforgery="false" method="post">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="Id" class="col-md-3" style="padding-top: 5px; font-weight: bold;"></label>
                <div class="col-sm-9">
                    <kendo-textbox name="Id" placeholder="Id" value="@Model.Id" readonly="true" style="width: 100px; background-color:lightgray;">
                    </kendo-textbox>
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="AccountCode" class="col-md-3" style="padding-top: 5px; font-weight: bold;"></label>
                <div class="col-sm-9">
                    <kendo-textbox name="AccountCode" placeholder="Account Code" value="@Model.AccountCode" style="width: 50%s">
                    </kendo-textbox>
                </div>

            </div>

            <div class="form-group row">
                <label asp-for="Account" class="col-md-3" style="padding-top: 5px; font-weight: bold;"></label>
                <div class="col-md-9">
                    <kendo-textbox name="Account" placeholder="Account" value="@Model.Account" style="width: 75%">
                    </kendo-textbox>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="AccountTypeId" class="col-md-3" style="padding-top: 5px; font-weight: bold;"></label>
                <div class="col-md-9">
                    <kendo-multicolumncombobox name="AccountTypeId"
                                               datatextfield="AccountType"
                                               datavaluefield="Id"
                                               min-length="5"
                                               height="520"
                                               value="@Model.AccountTypeId"
                                               filter="FilterType.Contains"
                                               onchange="AccountTypeChange()"
                                               style="width: 75%">
                        <multicolumncombobox-columns>
                            <column field="AccountType" title="Account Type" width="250px" />
                            <column field="AccountTypeCode" title="Code" width="180px" />
                        </multicolumncombobox-columns>
                        <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                            <transport>
                                <read url="@Url.Action("AccountTypes", "MstAccount")" />
                            </transport>
                        </datasource>
                    </kendo-multicolumncombobox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3" style="padding-top: 5px; font-weight: bold;">Cash Flow</label>
                <div class="col-md-9">
                    <kendo-combobox name="AccountCashFlowId" style="width: 75%"
                                    datatextfield="AccountCashFlow"
                                    datavaluefield="Id"
                                    value="@Model.AccountCashFlowId"
                                    min-length="1"
                                    height="520"
                                    filter="FilterType.Contains"
                                    onchange="AccountCashFlowChange()">
                        <datasource type="DataSourceTagHelperType.Ajax" page-size="140">
                            <transport>
                                <read url="@Url.Action("AccountCashFlows", "MstAccount")" />
                            </transport>
                        </datasource>
                    </kendo-combobox>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="frmDetailSF">
@(Html.Kendo().Grid<webfmis.Models.MstAccountArticleType>()
        .Name("detailSF")
        .Columns(columns =>
        {
            columns.Command(command => command.Custom("- Delete").Click("CmdDeleteAccountArticleType")).Width(100);
            columns.Bound(x => x.Id).Filterable(false).Width(100).HtmlAttributes(new { @style = "pointer-events:none;" });
            //columns.ForeignKey(x => x.ArticleTypeId, (System.Collections.IEnumerable)(ViewData["ArticleTypes"] ?? new List<MstArticleType>()) , "Id", "ArticleType")
            columns.ForeignKey(x => x.ArticleTypeId, a => a.Read(b => b.Action("ArticleTypes", "MstAccount") ) , "Id", "ArticleType")
                .Width(800)
                .Title("Article Type")
                .HtmlAttributes(new { onchange = "ArticleTypeChange()" });
            columns.Bound(x => x.IsDeleted).Hidden();
        })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .ToolBar(x =>
        {
            x.Custom().Text("+ Add Article Type").HtmlAttributes(new { onclick = "CmdAddAccountArticleType(); return false;" });
        })
        .Navigatable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(5)
            .Read(read => read.Action("AccountArticleTypeList", "MstAccount", new { AccountId = ViewData["AccountId"] }))
        ))
</form>

<script>
    $("#frmDetail").keydown(function (e)
    {
        if (isFormDirty(e))
        {
            $isDirty = true;
        }
    });

    $("#frmDetailSF").keydown(function (e) {
        if (isFormDirty(e)) {
            $isDirty = true;
        }
    });
</script>
