@{
    ViewData["Title"] = " - Home";
}
@model List<webfmis.DTO.VisitorConversionViewModel>

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        @* <h1 class="h1">Accounting System</h1>

            <img src="~/imgres/background3.jpg" style="background-size: cover; width: 1100px; height: 1000px; border-radius: 0.5%;" />*@

        <div class="jumbotron" style="background-image: url(imgres/JumboTron2.jpg); background-size: cover; background-position: center; color: black;">
            <h2 style="color: #585fa1; text-shadow: 2px 2px white; text-align: left">Straightforward Financial System (WAS)</h2>
            <h3 class="lead" style="color: #585fa1; text-shadow: 2px 2px white;">Your business shouldn't keep you up at night.</h3>
            @*<hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>*@
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Get Started</a>
        </div>

        <div>
            <div class="row">
                <div class="col-md-6">
                    <img class="image-margin img-circle" src="~/imgres/LandingImg1.svg" height="300px" alt="" />
                </div>
                <div class="col-md-6">
                    <h3>Make time for the work that matters most</h3>
                    <h6>W.AS is a great tool to manage your.</h6>
                    <ul style="text-align: left">
                        <li>Purchase Order</li>
                        <li>Receiving</li>
                        <li>Disbursements</li>
                        <li>Sales Invoice</li>
                        <li>Collection</li>
                        <li>
                            Stocks:
                            <ul>
                                <li>Stock In</li>
                                <li>Stock Out</li>
                                <li>Stock Transfer</li>
                                <li>Stock Count(Physical Count)</li>
                            </ul>
                        </li>
                        <li>And many more...</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Your busy life deserves this</h3>
                    <h6>Quickly produce important reports for your business.</h6>
                    <p class="text-muted">
                        <ul style="text-align: left">
                            <li>
                                Inventory Reports:
                                <ul>
                                    <li>Inventory(With beginning and ending balance)</li>
                                    <li>Stock Card per Item</li>
                                    <li>Stock In, Out and Transfer report</li>
                                    <li>And many more...</li>
                                </ul>
                            </li>
                            <li>
                                Financial Statements:
                                <ul>
                                    <li>Balance Sheet, Income Statement, Trial Balance</li>
                                    <li>Cash Flow</li>
                                    <li>And many more...</li>
                                </ul>
                            </li>
                            <li>Purchase Status, Disbursement, Sales Reporting, Collection</li>
                            <li>And many more...</li>
                        </ul>.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="image-margin img-circle" src="~/imgres/LandingImg2.svg" height="300px" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="image-margin img-circle" src="~/imgres/LandingImg3.svg" height="300px" alt="" />
                </div>
                <div class="col-md-6">
                    <h3>Work efficiently, effectively.</h3>
                    <h6>You have the freedom and flexibility to control when, where, and how you work.</h6>
                    <ul style="text-align: left">
                        <li>Accomodates Trading, Production, Logistics.</li>
                        <li>Multi Company, with multi Branch.</li>
                        <li>Setup files management(Items, Customer, Supplier, Accounting Entries, etc...)</li>
                        <li>User rights administration</li>
                        <li>File exports(PDF, CSV, Text Files)</li>
                        <li>Mobile POS Integration</li>
                        <li>And many more...</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <script>
        function onAdditionalData() {
            return {
                text: $("#customers").val()
            };
        }
    </script>
    <style type="text/css">
        .customer-photo {
            display: inline-block;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin: 0 10px 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
    </style>
</div>

<script>
    function onTileResize(e) {
        if (e.container) {
            // for widgets that do not auto resize
            // https://docs.telerik.com/kendo-ui/styles-and-layout/using-kendo-in-responsive-web-pages
            kendo.resize(e.container, true);
        }
    }

    $(window).on("resize", function () {
        kendo.resize($(".k-chart, .k-grid"));
    });

    $(document).ready(function () {
        kendo.resize($("#tilelayout"));
        $(document).bind("kendo:skinChange", updateTheme);
    });

    function updateTheme() {
        var charts = $(".k-chart");
        $.each(charts, function (i, elem) {
            var theme = kendoTheme;

            if (/(default-|bootstrap-|material-|classic-)/.test(kendoTheme)) {
                theme = "sass";
            }
            $(elem).getKendoChart().setOptions({ theme: theme });
        });
    }
</script>

<div id="dashboard">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <h3 class="display-5" style="text-align: center; width: 1300px;">DASHBOARD</h3>
        </div>

        <!-- container text templates -->
        <script id="conversion-rate" type="text/x-kendo-template">
            <h3>89 %</h3>
            <div>Sales from customer (Accounts Receivable - Trade)</div>
        </script>
        <script id="current" type="text/x-kendo-template">
            <div id="TotalSales"></div>
            <div>Actual sales as of</div>
        </script>
        <script id="bounce-rate" type="text/x-kendo-template">
            <h3>60 %</h3>
            <div>Average Expected Percentage Collection per month as of.</div>
        </script>

        <!-- container chart templates -->
        <script id="pages-chart-template" type="text/x-kendo-template">
            @(Html.Kendo().Chart()
                    .Name("pages-chart")
                    .Legend(l=>l.Visible(false))
                    .Series(s=>s.Column(new double[] { 90000, 60000, 40000, 30000, 10000 }))
                    .ValueAxis(v=> v.Numeric().Color("transparent")
                        .Labels(l=>l.Step(5)
                        .Color("grey")
                       )
                       .MajorUnit(10000)
                       .Min(0)
                       .Max(100000)
                    )
                    .CategoryAxis(c=>
                        c.Categories(new string[] { "Home", "Price", "Sign-up", "Product", "Blog" })
                        .Labels(l=>l.Rotation("auto"))
                        .MajorGridLines(mg => mg.Visible(false))
                        .MajorTicks(mt => mt.Visible(false))
                    )
                    .HtmlAttributes(new { style = "height:100%;width:100%;" })
                    .ToClientTemplate()
             )
        </script>

        <script id="visitors-chart-template" type="text/x-kendo-template">
            @(Html.Kendo().Chart()
                .Name("visitors-chart")
                .Series(series =>
                {
                    series.Donut(new dynamic[] {
                        new {value = 60, type = "Sales"},
                        new {value = 40, type = "Collection"},
                    }).StartAngle(70).CategoryField("type");
                })
                .Legend(l => l.Position(ChartLegendPosition.Bottom).Visible(true))
                .HtmlAttributes(new { style = "height:100%;width:100%;" })
                .ToClientTemplate()
            )
        </script>

        <script id="cash-flow" type="text/x-kendo-template">
            @(Html.Kendo().Chart(Model)
                .Name("conversion-chart")
                .Legend(l=>l.Visible(false))
                .Series(s=>s.Line(m => m.Value).CategoryField("Date")
                    .Style(ChartLineStyle.Smooth)
                    .Markers(m => m.Visible(false))
                )
                .ValueAxis(v=> v.Numeric()
                    .Line(l => l.Width(0))
                    .Labels(l=>l.Step(2)
                    )
                    .Min(0)
                    .Max(200000)
                )
                .CategoryAxis(c=>
                    c.Date()
                    .BaseUnit(ChartAxisBaseUnit.Fit)
                    .AutoBaseUnitSteps(x => x.Days(9))
                    .Labels(l=>l.Format("{0:d MMMM}").Rotation("auto"))
                    .MajorGridLines(mg => mg.Visible(false))
                    .MajorTicks(mt => mt.Visible(false))
                )
                .HtmlAttributes(new { style = "height:100%;width:400px;" })
                .ToClientTemplate()
            )
        </script>

        <!-- container grid templates -->
        <script id="conversions-grid-template" type="text/x-kendo-template">
            @(Html.Kendo().Grid(Model)
                .Name("conversions-grid")
                .Columns(col => {
                    col.Bound(f => f.Channel).Width(100);
                    col.Bound(f => f.Conversion).Width(80).Format("{0:n0}");
                })
                .Scrollable(s=>s.Height("auto"))
                .HtmlAttributes(new { style = "height:100%;" })
                .ToClientTemplate()
            )
        </script>

        <script id="tasks" type="text/x-kendo-template">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Customer Invoice
                <span class="badge badge-primary badge-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Payables
                <span class="badge badge-primary badge-pill">2</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Advance Billing
                <span class="badge badge-primary badge-pill">1</span>
              </li>
            </ul>
        </script>

        <script id="weather" type="text/x-kendo-template">
            Mandaue City, Cebu
            <br>
            <p style="width: 100; text-align: center; padding-top: 20px;">
                <h1 style="text-align: center;">
                    30°C
                </h1>
            </p>
        </script>

        <script>
            function formatTooltip(value) {
                return "₱" + kendo.toString(value, "#,##");
            };

            function formatPerformersSales(value) {
                if (value == 0) {
                    return 0;
                }
                else {
                    // hundreds
                    if (value <= 999) {
                        return value;
                    }
                    // thousands
                    else if (value >= 1000 && value <= 999999) {
                        return "₱" + (value / 1000) + "K";
                    }
                    // millions
                    else if (value >= 1000000 && value <= 999999999) {
                        return "₱" + (value / 1000000) + "M";
                    }
                }
            };

            function categoryAxisLabelTemplate(value) {

                if (value == undefined) {
                    return 0;
                }

                return value.split(" ").join("\n");
            };

            function setSalesPerformersBarsColor(point) {
                switch (point.index) {
                    case 0: {
                        return "#585fa1";
                    };
                    case 1: {
                        return "#8e94c3";
                    };
                    case 2: {
                        return "#a2a7d1";
                    };
                    case 3: {
                        return "#b7bcdf";
                    };
                    case 4: {
                        return "#c9cde9";
                    };
                };
            };
        </script>

        <script>
            Load();

            function Load() {
                $.ajax({
                    url: "Home/GetTotalSales",
                    type: "GET",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (data) {
                        $("<h3>₱" + numberWithCommas(data) + "</h3>").appendTo("#TotalSales")
                    }
                });
            }

            function numberWithCommas(x) {
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            }
        </script>

        @(Html.Kendo().Chart<webfmis.DTO.TopCustomerModel>()
            .Name("bar-chart")
            .Title("Top 3 Customers in the current month")
            .Legend(legend => legend
                .Visible(false)
            )
            .DataSource(ds => ds.Read(read => read.Action("TopCustomers", "Home"))
            .Sort(sort => sort.Add(model => model.Sales).Descending()))
            .Series(series =>
            {
                series.Bar(model => model.Sales).Name("Sales amount").CategoryField("Customer").ColorHandler("setSalesPerformersBarsColor").Gap(1);
            })
            .CategoryAxis(axis => axis
                .MajorGridLines(lines => lines.Visible(false))
                .Labels(labels => labels.Template("#= categoryAxisLabelTemplate(data.value) #"))
            )
            .ValueAxis(axis => axis.Numeric()
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(false))
                .Labels(x => x.Template("#= formatPerformersSales(value) #"))
                .MajorUnit(1200)
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= formatTooltip(value) #")
        ))

        @(Html.Kendo().TileLayout()
            .Name("tilelayout")
            .Columns(5)
            .RowsHeight("235px")
            .ColumnsWidth("300px")
            .Containers(c => {
                c.Add().Header(h => h.Text("Sales Rate")).BodyTemplateId("conversion-rate").ColSpan(1).RowSpan(1);
                c.Add().Header(h => h.Text("Current Sales (Mon.)")).BodyTemplateId("current").ColSpan(1).RowSpan(1);
                c.Add().Header(h => h.Text("Exp. Collection (%)")).BodyTemplateId("bounce-rate").ColSpan(1).RowSpan(1);
                c.Add().Header(h => h.Text("SI-OR Ratio/month")).BodyTemplateId("visitors-chart-template").ColSpan(1).RowSpan(1);
                c.Add().Header(h => h.Text("Weather")).BodyTemplateId("weather").ColSpan(1).RowSpan(1);
                c.Add().Header(h => h.Text("Cash Flow Graph")).BodyTemplateId("cash-flow").ColSpan(2).RowSpan(1);
                c.Add().Header(h => h.Text("Tasks")).BodyTemplateId("tasks").ColSpan(2).RowSpan(1);
            })
            .Reorderable()
            .Resizable()
            .Events(e=>e.Resize("onTileResize"))
        )
    }
</div>

<div id="menu">
    <div class="row">
        <h3 class="display-5" style="text-align: center; width: 1300px;">MENU</h3>
    </div>

    <div class="row">
        <h5 class="display-5" style="margin-left: 20px; width: 1300px;">Setup</h5>
    </div>

    <div class="row">
        <div class="row" style="margin-left: 20px; width: 1300px;">
            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-users" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstUser")" style="width: 225px; color: #30364c">User</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fab fa-amilia" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstAccount")" style="width: 225px; color: #30364c">Account</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fab fa-tumblr" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstAccountType")" style="width: 225px; color: #30364c">Account Type</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-university" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstBank")" style="width: 225px; color: #30364c">Bank</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-building" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstCompany")" style="width: 225px; color: #30364c">Company</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-user-tag" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstCustomer")" style="width: 225px; color: #30364c">Customer</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-user-tie" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstSupplier")" style="width: 225px; color: #30364c">Supplier</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-box-open" style="color: #9a7c9f"></i></h2>
                    <a href="@Url.Action("Index", "MstItem")" style="width: 225px; color: #30364c">Item</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5 class="display-5" style="margin-left: 20px; width: 1300px;">Activities</h5>
    </div>

    <div class="row">
        <div class="row" style="margin-left: 20px; width: 1300px;">
            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-shopping-bag" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnPurchaseOrder")" style="width: 225px; color: #30364c">Purchase Order</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-hand-holding" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnReceivingReceipt")" style="width: 225px; color: #30364c">Receiving</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-money-check-alt" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnDisbursement")" style="width: 225px; color: #30364c">Disbursement</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-university" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnBankReconciliation")" style="width: 225px; color: #30364c">Bank Reconciliation</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-file-invoice" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnSalesInvoice")" style="width: 225px; color: #30364c">Sales</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-coins" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnCollection")" style="width: 225px; color: #30364c">Collection</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-file-import" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnStockIn")" style="width: 225px; color: #30364c">Stock In</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-file-export" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnStockOut")" style="width: 225px; color: #30364c">Stock Out</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-sort-numeric-up" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnStockCount")" style="width: 225px; color: #30364c">Stock Count</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-dolly" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnStockTransfer")" style="width: 225px; color: #30364c">Stock Transfer</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-journal-whills" style="color: #838698"></i></h2>
                    <a href="@Url.Action("Index", "TrnJournalVoucher")" style="width: 225px; color: #30364c">Journal Voucher</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5 class="display-5" style="margin-left: 20px; width: 1300px;">Reports</h5>
    </div>

    <div class="row">
        <div class="row" style="margin-left: 20px; width: 1300px;">
            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-print" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepPurchase")" style="width: 225px; color: #30364c">Purchase Report</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-print" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepDisbursement")" style="width: 225px; color: #30364c">Disbursement Report</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-print" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepSales")" style="width: 225px; color: #30364c">Sales Report</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-print" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepCollection")" style="width: 225px; color: #30364c">Collection Report</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-money-check" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepAccountsPayable")" style="width: 225px; color: #30364c">Accounts Payable</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-clipboard" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepAccountsReceivable")" style="width: 225px; color: #30364c">Accounts Receivble</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-boxes" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepInventory")" style="width: 225px; color: #30364c">Inventory</a>
                </div>
            </div>

            <div class="card text-center card-back-color" style="margin: 10px;">
                <div class="card-body" style="width: 150px">
                    <h2 class="card-title"><i class="fas fa-chart-line" style="color: #585fa1"></i></h2>
                    <a href="@Url.Action("Index", "RepFinancialStatement")" style="width: 225px; color: #30364c">Financial Statement</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $.ajax({
            url: "Home/CurrentAdminSwitch",
            type: "GET",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                var switchInstance = $("#switch").data("kendoSwitch");

                if (data)
                {
                    switchInstance.check(true)

                    $("#menu").hide();
                    $("#dashboard").show();
                }
                else
                {
                    switchInstance.check(false)

                    $("#menu").show();
                    $("#dashboard").hide();
                }
            }
        });
    })

</script>

<style>

    .k-card-header {
        flex: 0 0 auto;
    }

    .k-card-body {
        overflow: hidden;
    }
</style>

