@model TrnCollection

<style>
    #Quantity {
        padding: 5px .5rem;
        text-overflow: clip;
        text-align-last: right;
    }

    #Cost {
        padding: 5px .5rem;
        text-overflow: clip;
        text-align-last: right;
    }

    #Amount {
        padding: 5px .5rem;
        text-overflow: clip;
        text-align-last: right;
    }
</style>

@if (Model != null)
{
    <form id="frmDetail" asp-antiforgery="false" method="post">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-6">
                <div class="form-group row">
                    <label asp-for="Id" class="col-md-4" style="padding-top: 5px; font-weight: bold;"></label>
                    <div class="col-sm-8">
                        <kendo-textbox name="Id" placeholder="Id" value="@Model.Id" readonly="true" style="width: 100px; background-color: lightgray;">
                        </kendo-textbox>
                    </div>

                </div>

                <div class="form-group row" hidden="hidden">
                    <label asp-for="Id" class="col-md-4" style="padding-top: 5px; font-weight: bold;"></label>
                    <div class="col-sm-8">
                        <kendo-textbox name="BranchId" placeholder="Branch Id" value="@Model.BranchId" readonly="true" style="width: 100px; background-color: lightgray;">
                        </kendo-textbox>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Branch</label>
                    <div class="col-sm-8">
                        <kendo-textbox name="Branch" placeholder="Branch" readonly="true" value="@Model.BranchName" style="width: 50%; background-color: lightgray;">
                        </kendo-textbox>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">OR Number</label>
                    <div class="col-md-8">
                        <kendo-textbox name="Ornumber" placeholder="OR Number" value="@Model.Ornumber" style="width: 50%; background-color: lightgray;" readonly="true">
                        </kendo-textbox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Manual Number</label>
                    <div class="col-md-8">
                        <kendo-textbox name="ManualOrnumber" placeholder="Manual Or Number" value="@Model.ManualOrnumber" style="width: 50%">
                        </kendo-textbox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">OR Date</label>
                    <div class="col-md-8">
                        <kendo-datepicker name="Ordate" placeholder="RR Date" value="@Model.Ordate" style="width: 50%; text-align: end;" on-change="DateChange" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Customer</label>
                    <div class="col-md-8">
                        <kendo-combobox name="CustomerId" style="width: 70%"
                                        datatextfield="Article"
                                        datavaluefield="Id"
                                        value="@Model.CustomerId"
                                        min-length="3"
                                        height="520"
                                        filter="FilterType.Contains"
                                        template="<span style='width: 300px;'>#: data.Article#</span><span>#: data.TermName#</span>"
                                        on-change="EntityComboxChange">
                            <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                <transport>
                                    <read url="@Url.Action("Customers", "TrnCollection")" />
                                </transport>
                            </datasource>
                        </kendo-combobox>
                        <input type="button" name="CmdAR" value="AR" class="btn btn-light" onclick="ShowDownloadSI()" />
                        <input type="button" name="CmdAdv" value="ADV" class="btn btn-light" onclick="ShowDownloadAdv()" />
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="Particulars" class="col-md-4" style="padding-top: 5px; font-weight: bold;"></label>
                    <div class="col-md-8">
                        <kendo-textarea name="Particulars" placeholder="Particulars" value="@Model.Particulars" rows="2" style="width: 100%">
                        </kendo-textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Prepared By</label>
                    <div class="col-md-8">
                        <kendo-combobox name="PreparedById" style="width: 90%"
                                        datatextfield="FullName"
                                        datavaluefield="Id"
                                        value="@Model.PreparedById"
                                        min-length="3"
                                        height="520"
                                        filter="FilterType.Contains"
                                        on-change="EntityComboxChange">
                            <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                <transport>
                                    <read url="@Url.Action("Users", "TrnCollection")" />
                                </transport>
                            </datasource>
                        </kendo-combobox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Checked By</label>
                    <div class="col-md-8">
                        <kendo-combobox name="CheckedById" style="width: 90%"
                                        datatextfield="FullName"
                                        datavaluefield="Id"
                                        value="@Model.CheckedById"
                                        min-length="3"
                                        height="520"
                                        filter="FilterType.Contains"
                                        on-change="EntityComboxChange">
                            <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                <transport>
                                    <read url="@Url.Action("Users", "TrnCollection")" />
                                </transport>
                            </datasource>
                        </kendo-combobox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Approved By</label>
                    <div class="col-md-8">
                        <kendo-combobox name="ApprovedById" style="width: 90%"
                                        datatextfield="FullName"
                                        datavaluefield="Id"
                                        value="@Model.ApprovedById"
                                        min-length="3"
                                        height="520"
                                        filter="FilterType.Contains"
                                        on-change="EntityComboxChange">
                            <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                <transport>
                                    <read url="@Url.Action("Users", "TrnCollection")" />
                                </transport>
                            </datasource>
                        </kendo-combobox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4" style="padding-top: 5px; font-weight: bold;">Locked</label>
                    <div class="col-md-8">
                        <input asp-for="IsLocked" name="IsLocked" type="checkbox" checked="@Model.IsLocked" value="@Model.IsLocked" onchange="IsLockedChanged()" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="frmDetailSF">
        @(Html.Kendo().Grid<webfmis.Models.TrnCollectionLine>()
            .Name("detailSF")
            .Columns(columns =>
            {
                columns.Command(command => command.Custom("Detail").Click("CmdDetailORLine"))
                    .Width(100);
                columns.Command(command => command.Custom("- Delete").Click("CmdDeleteORLine"))
                    .Width(120);
                columns.Bound(x => x.Id)
                    .Filterable(false)
                    .Hidden();
                columns.Bound(x => x.BranchName)
                    .Title("Branch")
                    .Filterable(false)
                    .Width(150);
                columns.Bound(x => x.AccountName)
                   .Title("Account")
                   .Filterable(false)
                   .Width(230);
                columns.Bound(x => x.ArticleName)
                   .Title("Article")
                   .Filterable(false)
                   .Width(175);
                columns.Bound(x => x.Particulars)
                  .Title("Particulars")
                  .Filterable(false)
                  .Width(175);
                columns.Bound(x => x.SINumber)
                  .Title("SI Number")
                  .Filterable(false)
                  .Width(150);
                columns.Bound(x => x.Amount)
                    .Title("Amount")
                    .Filterable(false)
                    .Width(120)
                    .HtmlAttributes(new { @style = "text-align: end;" })
                    .ClientFooterTemplate("<div style='text-align: end'>#=kendo.format(\"{0:n2}\", kendo.parseFloat(sum))#</div>");
                columns.Bound(x => x.PayTypeName)
                  .Title("Pay Type")
                  .Filterable(false)
                  .Width(200);
                columns.Bound(x => x.BranchId).Hidden();
                columns.Bound(x => x.AccountId).Hidden();
                columns.Bound(x => x.ArticleId).Hidden();
                columns.Bound(x => x.Siid).Hidden();
                columns.Bound(x => x.PayTypeId).Hidden();
                columns.Bound(x => x.CheckNumber).Hidden();
                columns.Bound(x => x.CheckDate).Hidden();
                columns.Bound(x => x.CheckBank).Hidden();
                columns.Bound(x => x.DepositoryBankId).Hidden();
                columns.Bound(x => x.IsClear).Hidden();
                columns.Bound(x => x.IsDeleted).Hidden();
            })
            .ToolBar(x =>
            {
                x.Custom().Text("+ Add OR Line").HtmlAttributes(new { onclick = "AddORLine(); return false;" });
            })
            .Selectable(x => x.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable(x=> x.Height("auto"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Aggregates(x => x.Add(a => a.Amount).Sum())
                .ServerOperation(false)
                .PageSize(5)
                .Read(read => read.Action("TrnCollectionLineList", "TrnCollection", new { ORId = ViewData["ORId"] }))
        ))
    </form>
}

<script>
    var widthVal = "510";

    $("#CustomerId_listbox").css("width", widthVal);
    $("#CustomerId_listbox").parents("div").css("width", widthVal);

    $("#frmDetail").keydown(function (e) {
        if (isFormDirty(e)) {
            $isDirty = true;
        }
    });
</script>